/* Add a black background color to the top navigation */
.topnav {
    background-color: #0066ff;
    overflow: hidden;
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;


  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #0000ff;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #0000ff;
    color: white;
  }


html body{

  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 16%, rgba(255,255,255,1) 31%, rgba(231,251,255,1) 55%, rgba(0,212,255,1) 100%);


}